################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
bin
obj
*.bmp
*.dxf
*.jpg
*.png
Img/Data/*
App_Data/img/*
/loowootech.AtlasWeb/packages
/loowootech.AtlasWeb/Deploy
*.user
*.pubxml
loowootech.AtlasWeb/loowootech.AtlasWeb/Web.config

