################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
bin
obj
*.jpg
*.jpeg
*.png
*.bmp
*.gif
Img/Data/*
App_Data/img/*