################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
bin
obj
*.jpg
*.jpeg
*.png
*.bmp
*.gif
Img/Data/*
App_Data/img/*
/loowootech.AtlasWeb/packages
*.user
*.pubxml
loowootech.AtlasWeb/loowootech.AtlasWeb/loowootech.AtlasWeb.csproj.user
loowootech.AtlasWeb/loowootech.AtlasWeb/loowootech.AtlasWeb.csproj.user
