@using loowootech.AtlasWeb.Models
@{
    Layout = null;
    var arcGISServerHost = ViewBag.ArcGISServerHost;
    Map map = ViewBag.Map;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@map.Name-海宁许村一张图平台</title>
    <link rel="stylesheet" href="/Content/tundra.css" />
    <link rel="stylesheet" href="/Content/esri.css" />
    <link rel="stylesheet" href="/Content/style2.css" />
    <link rel="stylesheet" href="/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/ui.fancytree.css" />
    <link rel="stylesheet" href="/Content/jquery-ui.css" />
    <link rel="stylesheet" href="/Content/jquery-ui.theme.css" />
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="./css/bootstrap-theme.min.css" />-->
    <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://js.arcgis.com/3.12/" type="text/javascript"></script>
    
    <!--<script src="http://@System.Configuration.ConfigurationManager.AppSettings["ARCGIS_SERVER_HOST"]/arcgis_js_api/library/3.12/3.12/init.js" type="text/javascript"></script>-->
    
    <script src="/Scripts/mapwrapper.js" type="text/javascript"></script>
    <script src="/Scripts/application.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.fancytree.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.fancytree.glyph.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.fancytree.table.js" type="text/javascript"></script>

</head>
<body class="tundra">
    <form id="form1">
        <script language="javascript" type="text/javascript">
            function dyniframesize(down) {
                var pTar = null;
                if (document.getElementById) {
                    pTar = document.getElementById(down);
                }
                else {
                    eval('pTar = ' + down + ';');
                }
                if (pTar && !window.opera) {
                    //begin resizing iframe
                    pTar.style.display = "block"
                    if (pTar.contentDocument && pTar.contentDocument.body.offsetHeight) {
                        //ns6 syntax
                        pTar.height = pTar.contentDocument.body.offsetHeight + 20;
                        pTar.width = pTar.contentDocument.body.scrollWidth + 20;
                    }
                    else if (pTar.Document && pTar.Document.body.scrollHeight) {
                        //ie5+ syntax
                        pTar.height = pTar.Document.body.scrollHeight;
                        pTar.width = pTar.Document.body.scrollWidth;
                    }
                }
            }

            function dyniframesize2(down)
            {
                var iframe = document.getElementById(down);   
  
                try{   
                    var bHeight = iframe.contentWindow.document.body.scrollHeight;   
                    var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;   
                    var height = Math.max(bHeight, dHeight);   
                    iframe.height =  height;   
                }catch (ex){}   
  
            }
            
        </script> 

        <script type="text/javascript">
            
        var host = '@System.Configuration.ConfigurationManager.AppSettings["ARCGIS_SERVER_HOST"]';
        var geoAddr = "http://" + host + "/ArcGISServer/rest/services/Geometry/GeometryServer";
            @{
                Html.RenderAction("JavascriptContent", "map", new {name=map.JavaScript});
        }

            
        require([
            "esri/map", "esri/toolbars/draw",
            "esri/layers/ArcGISTiledMapServiceLayer",
            "esri/layers/ArcGISDynamicMapServiceLayer",
            "esri/layers/ImageParameters",
            "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol",
            "esri/symbols/SimpleFillSymbol", "esri/symbols/CartographicLineSymbol",
            "esri/graphic",
            "esri/Color", "dojo/dom", "dojo/on", "dojo/query", "dojo/parser", "esri/config", "esri/tasks/GeometryService",
            "dijit/layout/ContentPane", "dijit/layout/BorderContainer", "dojo/domReady!"
        ], function (
            Map, Draw, Tiled, DynaLayer, ImageParameters,
            SimpleMarkerSymbol, SimpleLineSymbol,
            SimpleFillSymbol, CartographicLineSymbol,
            Graphic,
            Color, dom, on, query, parser, esriConfig, GeometryService
            ) {
            parser.parse();
            application.init();

        });

        
        </script>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="divNavbar">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size:24px;" href="#"><span id="topicName"></span></a>
                <span style="font-size:16px;color:#fff;">海宁市许村镇一张图平台</span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-right:20px">
                    <li class="tool-item"><a href="javascript:(function(){$('.popup-element').fadeIn();})()">地图控制</a></li>
                    <li class="tool-item"><a href="/Home/Index"><span class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;专题切换</a></li>
                    <!--<li class="tool-item"><a href="#"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;点选</a></li>
                    <li class="tool-item"><a href="#"><span class="glyphicon glyphicon-info-road"></span>&nbsp;全景</a></li>

                    <li class="tool-item"><a href="#"><span class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;测量</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff"><span class="glyphicon glyphicon-tasks">&nbsp;量算</span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="TopicMap.aspx?sszs">绘制地块</a></li>
                            <li><a href="TopicMap.aspx?jfczs">地类分析</a></li>
                            <li><a href="TopicMap.aspx?zjd">清除地块</a></li>
                        </ul>
                    </li>

                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff">专题切换 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="TopicMap.aspx?sszs">沈士区块招商引资专题图</a></li>
                            <li><a href="TopicMap.aspx?jfczs">家纺城区块招商引资专题图</a></li>
                            <li><a href="TopicMap.aspx?zjd">房屋宅基地专题图</a></li>
                            <li><a href="AdvancedMap.aspx">高级模式</a></li>
                            <li class="divider">-</li>
                            <li><a href="Index.aspx">专题选择页面</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>

        <div data-dojo-type="dijit/Dialog" data-dojo-id="dialogLoading" title="">
            <div class="dijitDialogPaneContentArea">
                <div style="margin:24px">

                    <img src="/Img/block-loading.gif" style="width:32px;height:32px;" /><span style="font-size:16px;padding-left:24px">
                        正在载入数据，请稍候...
                    </span>
                </div>
            </div>
        </div>

        <!-- Modal -->

        <div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">地块图片</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="pictureFrame" style="zoom: 0.6;width:100%;height:800px" src="" frameborder="0" ></iframe>

                    </div>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addModalLabel">地块导入</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="addFrame" style="width: 100%;" src="" frameborder="0" onload="javascript:dyniframesize2('addFrame')" ></iframe>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">属性编辑</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="editFrame" style="width: 100%;" src="" onload="javascript:dyniframesize2('editFrame')" frameborder="0"></iframe>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="deleteModalLabel">删除确认</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="deleteFrame" style="width: 100%;" src="" frameborder="0" onload="javascript:dyniframesize2('deleteFrame')"></iframe>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">请选择目标图层</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <label for="cmbLayer2">图　层：</label>
                                <select name="cmbLayer2" class="form-control input-sm" style="width:300px" id="cmbLayer2"></select>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSelectLayer" class="btn btn-primary btnOK">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="layerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">图层控制</h4>
                    </div>
                    <div class="modal-body">
                        <table id="treetable" class="table table-condensed" style="width:100%;font-size:12px">
                            <colgroup>
                                <col style="width:180px"/>
                                <col style="width:60px"/>
                                <col style="width:20px"/>
                                <col style="width:20px"/>

                            </colgroup>
                            <thead>

                                <tr>
                                    <th>图层</th>
                                    <th>透明度</th>
                                    <th>可见</th>
                                    <th>顺序</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" id="btnUpdateVisible" class="btn btn-primary btnOK">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>-->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:720px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">条件查询</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <label for="cmbLayer">图　层：</label>
                                <select name="cmbLayer" class="form-control input-sm" style="width:300px" id="cmbLayer"></select>
                            </div>

                        </div>
                        <div class="form-inline" role="form">
                            <div class="form-group ">
                                <label for="cmbField1">条件一：</label>
                                <select name="cmbField" class="form-control input-sm" id="cmbField1" style="width:120px"></select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="cmbOp1">运算符</label>
                                <select name="cmbOp" class="form-control input-sm" id="cmbOp1">
                                    <option value="=">=</option>
                                    <option value="like">包含</option>
                                    <option value=">">&gt;</option>
                                    <option value="<">&lt;</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="txtKeyword1">值</label>
                                <input type="text" class="form-control input-sm" name="txtKeyword" style="width:160px" id="txtKeyword1" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="cmbRel">关系</label>
                                <select name="cmbRel" class="form-control input-sm" id="cmbRel">
                                    <option value="" selected="selected"></option>
                                    <option value="AND">并且</option>
                                    <option value="OR">或者</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-inline" role="form">
                            <div class="form-group ">
                                <label for="cmbField2">条件二：</label>
                                <select name="cmbField2" class="form-control input-sm" id="cmbField2" style="width:120px"></select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="cmbOp2">运算符</label>
                                <select name="cmbOp2" class="form-control input-sm" id="cmbOp2">
                                    <option value="=">=</option>
                                    <option value="like">包含</option>
                                    <option value=">">&gt;</option>
                                    <option value="<">&lt;</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="txtKeyword2">值</label>
                                <input type="text" class="form-control input-sm" name="txtKeyword2" style="width:160px" id="txtKeyword2" />
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSearch" class="btn btn-primary btnOK">查询</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="popup-background popup-element" onclick="javascript:$('.popup-element').fadeOut()" style="display:none"></div>
        <div class="popup-panel popup-element" style="display:none">
            <div class="overview-container" id="overviewDiv">
                <div class="overview-template" id="overviewTemplateDiv">
                    <a href="javascript:void(0)" class="thumbnail" style="margin-bottom:3px">
                        <img class="thumbnail-image" src="/img/soft-grid.gif" alt="..." />
                    </a>
                </div>
            </div>
        </div>

        <div style="position:absolute;bottom:6px;right:6px;z-index:1000;left:6px" class="dijitDialog hide" id="divSearchResult">
            <div class="dijitDialogTitleBar">
                <span class="dijitDialogTitle">查询结果</span>
                <a class="dijitDialogCloseIcon dijitDialogCloseIconHover" id="btnSearchResult" >
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            </div>
            <div class="dijitDialogPaneContent" id="divSearchResultContent" style="overflow-y: scroll;height:160px;">
            </div>
        </div>

        <div id="mapTemplate" style="display:none">
            <div class="mapWindow">
                <div class="shad_h"></div>
                <div class="mapHeader">
                    <span class="mapIcon glyphicon glyphicon-th-large"></span>
                    <span class="mapTitle"></span>
                    <div class="mapTools">
                        <ul class="nav">
                            <li><a href="javascript:void(0)" class="pointerButton"><span class="glyphicon glyphicon-send">浏览</span></a></li>
                            <li><a href="javascript:void(0)" class="identifyButton"><span class="glyphicon glyphicon-info-sign">点选</span></a></li>
                            <li><a href="javascript:void(0)" class="globeButton"><span class="glyphicon glyphicon-globe"></span>全图</a></li>
                            <li><a href="javascript:void(0)" class="searchButton"><span class="glyphicon glyphicon-search"></span>查询</a></li>
                            <li><a href="javascript:void(0)" class="addButton"><span class="glyphicon glyphicon-plus"></span>添加</a></li>
                            <li><a href="javascript:void(0)" class="annoButton"><span class="glyphicon glyphicon-plus"></span>标注</a></li>
                            <li><a href="javascript:void(0)" class="measureButton"><span class="glyphicon glyphicon-retweet"></span>测量</a></li>
                            <li><a href="javascript:void(0)" class="layerButton"><span class="glyphicon glyphicon-th-list"></span>图层</a></li>
                            <li><a href="javascript:void(0)" class="legendButton"><span class="glyphicon glyphicon-list"></span>图例</a></li>
                            <li><a href="javascript:void(0)" class="closeButton"><span class="glyphicon glyphicon-remove"></span>关闭</a></li>
                        </ul>
                    </div>
                </div>

                <div class="bm-panel">
                    <div class="btn-group bm-group" data-toggle="buttons">
                    </div>
                </div>

                <div class="mapDiv" style="width:100%;height:100%">
                </div>
            </div>
        </div>

        <div id="layerControl" style="display:none">
        </div>

        <div id="mapsetContainer" style="position:absolute;top:54px;bottom:0;width:100%">
        </div>
    </form>
   


 

    
</body>
</html>
