<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ARCGIS_SERVER_HOST" value="10.22.102.19"/>
    <add key="LAYER_FILE_PATH" value="E:\Github\AtlasWeb\loowootech.AtlasWeb\loowootech.AtlasWeb\LayerInfo.xml"/>
    <add key="RESIDENT_FILE_PATH" value="E:\Github\AtlasWeb\loowootech.AtlasWeb\loowootech.AtlasWeb\HouseHoldInfo.xml"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DBAtlasContext" connectionString="Data Source=DELL-PC\SQLExpress;Initial Catalog=sde;Persist Security Info=True;User ID=sa;Password=Ztop" providerName=""/>-->
    <add name="DBAtlasContext" connectionString="Data Source=10.22.102.19\SQLExpress;Initial Catalog=Atlas;Persist Security Info=True;User ID=sa;Password=Ztop123456" providerName="System.Data.SqlClient"/>
    <!--<add name="DBAtlasContext" connectionString="Server=localhost;Database=usermanager;Uid=loowootech;Pwd=123456;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="DBDataContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost;Initial Catatlog=landinst;User ID=loowootech;Password=123456"/>-->
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/user/signin" timeout="2880"/>
    </authentication>
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="AuthenticateModule" type="loowootech.AtlasWeb.General.AuthenticateModule"/>
    </httpModules>
    <customErrors mode="Off"/>

  </system.web>
  <system.webServer>
    <modules>
      <add name="AuthenticateModule" type="loowootech.AtlasWeb.General.AuthenticateModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>